// unit module

$units: 12 !default;
$level: 5 !default;
$rate: 0.25rem !default;

@mixin unit ($un) {
  @for $i from 1 through $un {
    &.is-#{$i}-#{$un} {
      flex-basis: percentage($number: $i / $un);
    }
    $commonDivisor: getCommonDivisor($i, $un);
    @if $commonDivisor != 1 {
      $i-x: $i / $commonDivisor;
      $un-x: $un / $commonDivisor;
      &.is-#{$i-x}-#{$un-x} {
        flex-basis: percentage($number: $i-x / $un-x);
      }
    }
  }
}

@mixin gap ($rate, $level) {
  @for $i from 1 through $level {
    @if $i == 1 {
      .units-gap {
        margin-left: -$rate;
        margin-right: -$rate;
        >.unit {
          box-sizing: border-box;
          padding-left: $rate;
          padding-right: $rate;
        }
      }
    } @else {
      $gap: $i * $rate;
      .units-gap-#{$i} {
        margin-left: -$gap;
        margin-right: -$gap;
        >.unit {
          box-sizing: border-box;
          padding-left: $gap;
          padding-right: $gap;
        }
      }
    }
  }
}

.unit {
  flex-grow: 0;
  flex-shrink: 1;
  @include unit($units);
}

@include gap($rate, $level);
